{% extends "base.html" %}
{% block content %}
  {% if user_logged_in %}
  <h1>Käyttäjän {{user_logged_in.nimi}} sovelluslista opetustyöhön</h1>
   {% endif %}

  <p>
    <a href="{{base_path}}/sovellus/uusi" class="btn btn-success">Lisää sovellus</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>URL</th>
        <th>Lyhyt kuvaus</th>
        <th>Status</th>
        <th>Lisäyspäivä</th>
        
      </tr>
    </thead>

    <tbody>
      {% for sovellus in sovellukset %}
      <!-- Listataan sovellukset tähän -->
      <tr>
        <td><a href="{{base_path}}/sovellus/{{sovellus.id}}">{{sovellus.nimi}}</td>
        <td>{{sovellus.url}}</td>
        <td>{{sovellus.lyhytkuvaus}}</td>
        <td>{% if sovellus.status %}
          <label class="label label-success">kaytetty
            {% else %}
            <label class="label label-danger">ei ole kaytetty
              {% endif %}
            </td>
        <td>{{sovellus.lisatty}}</td>
        <th><a class="btn btn-default btn-sm" href="{{base_path}}/sovellus/{{sovellus.id}}/edit">Muokkaa</a></td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}