{% extends "base.html" %}
{% block content %}
  {% if user_logged_in %}
  <h1>Käyttäjän {{user_logged_in.nimi}} sovelluslistan käyttäjälista</h1>
   {% endif %}

  <p>
    <a href="{{base_path}}/user/uusi" class="btn btn-success">Lisää käyttäjä</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Salasana</th>       
      </tr>
    </thead>

    <tbody>
      {% for user in users %}
      <!-- Listataan käyttäjäy tähän -->
      <tr>
        <td><a href="{{base_path}}/user/{{user.id}}">{{user.nimi}}</td>
        <td>{{user.salasana}}</td>
        <th><a class="btn btn-default btn-sm" href="{{base_path}}/user/{{user.id}}/edit">Muokkaa</a></td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}