{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa sovellusta</h1>

  <form method="post" action="{{base_path}}/sovellus/{{sovellus.id}}/edit">
    <div class="checkbox">
      <label>
        <input name='status' type="checkbox">
        Käytetty
      </label>
    </div>
    <div class="form-group">
      <label>Nimi</label>
      <input name='nimi' class="form-control" value='{{sovellus.nimi}}' type="text">
    </div>
    <div class="form-group">
      <label>URL</label>
      <input name='url' class="form-control" value='{{sovellus.url}}' type="text">
    </div>
    <div class="form-group">
      <label>Lyhyt kuvaus</label>
      <input name='lyhytkuvaus' class="form-control" value='{{sovellus.lyhytkuvaus}}' type="text">
    </div>
    <div class="form-group">
      <label>Kuvaus</label>
      <textarea name='kuvaus' class="form-control"> {{sovellus.kuvaus}}
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}