{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
  <h1>{{sovellus.nimi}}</h1>
  <!-- Painikkeet tähän -->
  <p>
    {{forms.destroy_button("#{base_path}/sovellus/#{sovellus.id}/destroy")}} 
    <a href="{{base_path}}/sovellus/{{sovellus.id}}/edit" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
 

  <ul>
    <li><strong>URL:</strong> {{sovellus.url}}</li>
    <li><strong>Lyhyt kuvaus:</strong> {{sovellus.lyhytkuvaus}}</li>
    <li><strong>Status:</strong> 
      {% if sovellus.status %}
      <label class="label label-success">käytetty
        {% else %}
        <label class="label label-danger">ei käytetty
          {% endif %}
        </li>
    <li><strong>Lisäyspäivä:</strong> {{sovellus.lisatty}}</li>
  </ul>
  
  <!-- Kuvaus tulee tähän -->
  <p>
    {{sovellus.kuvaus}}
  </p>
{% endblock %}